@import url(../Fonts/fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.site-header-hero {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #0D192C;
}
  

.d-flex {
    display: flex;
    align-items: center;
    flex-direction: column;   
    width: 350px;
    height: 596px;
    background-color: #15263f;
    border-radius: 15px;}

.site-header_image {
    width: 302px;
    height: 302px;
    margin-top: 24px;
    }

.site-header__title {
    width: 302px;
    color:#FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Outfit";
    font-size: 22px;
    font-weight: 600;
    }
.site-header__text {
    padding-top: 16px;
    width: 302px;
    color: var(--Soft-Blue, #8BACD9);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Outfit";
    font-size: 18px;
    font-weight: 300;
    line-height: 26px; /* 144.444% */
}
.site-hedear__item {
    padding-top: 24px;
    padding-bottom: 24px;
    
  

   
}
.site-hedear__img1 {
    display: inline;
    justify-content: flex-end;
    width: 11px;
    height: 18px;
    fill: #00FFF8;
    
   
}
.site-hedear__item--text1 {
    justify-content: flex-end;
    display: inline;
    color: var(--Cyan, #00FFF8);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Outfit;
    font-size: 16px;
    font-weight: 600;   
    padding-right: 115px; 
}
.site-hedear__img2 {  
    display: inline;
    justify-content: flex-end;
    width: 16px;
    height: 16px;
    fill: #8BACD9; 
}
.site-hedear__item--text2 {
    display: inline;
    justify-content: flex-end;
    color: #8BACD9;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Outfit;
    font-size: 16px;
    font-weight: 400;   
    }

.site-hedear__line {
    width: 302px;
    height: 1px;
    background: #2E405A;
    margin-top: 24px;
    margin-bottom: -10px;
}


.logo-nav3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    justify-content:flex-end;
    }
    
.logo-img {  
    width: 33px;
    height: 33px;
    border-radius: 33px;
    border: 1px solid var(--White, #FFF);
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    margin-right: 30px;
    margin-left: 6px;
}
.logo-name {
    color: var(--Soft-Blue, #8BACD9);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Outfit;
    font-size: 16px;
    font-weight: 400; 
    color: #8BACD9 ;
    }

.logo-name1 {
    color: var(--White, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Outfit;
    font-size: 16px;
    font-weight: 400;
    color: White;
    padding-right: 60px;
    }

