@font-face {
    font-family: "Outfit";
    src: url(../Fonts/Outfit/static/Outfit-Regular.ttf);
}

@font-face {
    font-family: "Outfit";
    src: url(../Fonts/Outfit/static/Outfit-ExtraBold.ttf);
}

@font-face {
    font-family: "Outfit";
    src: url(../Fonts/Outfit/static/Outfit-Regular.ttf);
}